version: "3"
services:
  web:
    image: klishevich/bp-hapi-react-redux:1.0.2
    environment:
      - "APP_MOCKS=1"
      - "MONGODB_HOST=mongo"
      - "MONGODB_USER=root"
      - "MONGODB_PASS=rootpass"
      - "MONGODB_NAME=admin"
    deploy:
      replicas: 5
      restart_policy:
        condition: on-failure
      resources:
        limits:
          cpus: "0.1"
          memory: 50M
    ports:
      - "80:8080"
    networks:
      - webnet
  visualizer:
    image: dockersamples/visualizer:stable
    ports:
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    deploy:
      placement:
        constraints: [node.role == manager]
    networks:
      - webnet
  mongo:
    image: mongo:3.6.5-jessie
    environment:
      - "MONGO_INITDB_ROOT_USERNAME=root"
      - "MONGO_INITDB_ROOT_PASSWORD=rootpass"
    volumes:
      - "/Users/mike/data:/data/db"
    deploy:
      restart_policy:
        condition: on-failure
      placement:
        constraints: [node.role == manager]
    networks:
      - webnet
networks:
  webnet:
